@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap");


:root {
    --dark-bg-color: hsl(207, 26%, 17%);
    --dark-mode-input: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --light-mode-background: hsl(0, 0%, 98%);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--dark-bg-color);
    color: white;
  }
  img{
    max-width: 100%;
  }

  .navbar{
    background-color: var(--dark-mode-input);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    padding: 10px 20px;
  }
  .navbar.light-theme{
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
  }